



<option value="Motihari">Motihari</option>
<option value="Mumbai">Mumbai</option>
<option value="Munger">Munger</option>
<option value="Murshidabad">Murshidabad</option>
<option value="Murwara">Murwara</option>
<option value="Mussoorie">Mussoorie</option>
<option value="Muzaffarnagar">Muzaffarnagar</option>
<option value="Muzaffarpur">Muzaffarpur</option>
<option value="Mysuru">Mysuru</option>