   <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> Petous</span>
                    </div>
                </div>
            </footer>