 <footer id="footer">

 

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><img src="/assets/img/logo.png" class="img-fluid"></h3>
            <p>
              A108 Bolgatty Palace Rd <br>
            Kochi, KL 682031<br>
              India <br><br>
              <strong>Phone:</strong> +91 9444348444<br>
              <strong>Email:</strong> info@petous.in<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pet List</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Vet List</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Refund Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Top Highlights</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cat Sale</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dog Sale</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hamster Sale</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Parrot Sale</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Birds Sale</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us on all major social platforms</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> <strong><span>Petous</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->